.weather__info-teperature {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather__info-teperature-wrapper p{
    margin: 0;
}
.weather__current-temperature {
    font-size: 48px;
}