.weather__info-full {
    display: flex;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.4);
    justify-content: space-between;
    flex: 2;
    list-style: none;
    padding: 5px;
    border-radius: 5px;
    margin: 0;
  }
  .weather__info-full li {
    margin: 5px;
    text-align: center;
    flex-basis: calc(25%);
    font-size: 28px;
  }
  .weather__info-full li div {
    font-size: 16px;
  }