body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  font-size: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.weather {
  margin: 0 auto;
  padding: 20px;
  height: 100vh;
  background: url(../src/2850815.246c1201.jpg) no-repeat 50% ;
  background-size: cover;
}
.weather__logo {
  font-size: 42px;
  font-weight: 400;
}
.weather__search {
  display: flex;
  justify-content: center;
}

.weather__search input {
  width: 60%;
  height: 35px;
  padding: 5px;
  border-radius: 52px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 26px;
}
.weather__search input:focus {
  box-shadow: 0 5px 5px rgb(143, 142, 142);
}

.notFound {
  text-align: center;
  width: 60%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  background: rgba(255,255,255,0.4);
  
}